source 'https://rubygems.org'

gemspec :path => '../'

gem 'rails'
gem 'grape', '< 1.0.0'
gem 'grape-swagger'
gem 'nokogiri'
gem 'coveralls', require: false

group :development,:test do
  gem 'rspec'
end
