source 'https://rubygems.org'

gemspec :path => '../'

gem 'rails'
gem 'grape'
gem 'grape-kaminari', :github => 'alexey-klimuk/grape-kaminari'
gem 'grape-swagger'
gem 'nokogiri'
gem 'coveralls', require: false

group :development,:test do
  gem 'rspec'
end
